/* Min Width 1600px */
@media only screen and (min-width: 1600px){
    .container{
        max-width: 1550px !important;
    }

    .search input{
        width: 375px !important;
    }

    .table-sorting-wpr{
        gap: 150px;
    }

    table.kt-table th:first-child,
    .kt-table-wpr .task-btn-wpr{
        padding-left: 90px !important;
    }

    table.kt-table-2 td:first-child{
        padding-left: 80px !important;
    }

    table.cntrct-table{
        display: table;
    }

    table.cntrct-table th:last-child,
    table.cntrct-table td:last-child{
        min-width: max-content;
    }

    th.hassort{
        padding-right: 12px !important;
    }

    .dash-heading .task-btn{
        width: 150px;
    }

    .dashboard-left .nft-logo h3{
        font-size: 50px;
    }

    .nft-statistics{
        gap: 50px;
    }

    .nft-statistics.stats-2,
    .dashboard-left .dash-heading .nft-logo{
        gap: 32px;
    }

    .graph-container .chart-card .card-heading{
        flex-direction: row;
        align-items: center;
    }

    .nft-products{
        grid-template-columns: repeat(5,1fr);
    }

    .nft-market .container-2 .nft-products{
        grid-template-columns: repeat(6,1fr);
    }

    .nft-market .filter-toolbar{
        justify-content: space-between;
        gap: 24px;
    }

    .nft-market .search-filter input{
        width: 785px !important;
    }
}

/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container{
        max-width: 1320px !important;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }

}

/* Min Width 1300px */
@media only screen and (min-width:1300px){

    .container{
        max-width: 1292px;
        padding: 0;
    }

    .banner-imgs .img-2{
        right: -4%;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){
    
}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .kt-main-nav{
        display: block !important;
    }

}

/* Max Width 1399px */
@media only screen and (max-width: 1399px){

    .kt-banner .curve-1 {
        width: 62%;
        bottom: -100px;
    }

    .scale-features {
        padding: 0 40px 0 45px;
    }

    .prime-features {
        margin: 120px 20px 60px 20px;
    }

    .trade-info h2{
        font-size: 60px;
        line-height: 75px;
    }

    .info-list{
        padding-right: 60px;
    }

}

/* Max Width 1299px */
@media only screen and (max-width: 1299px){

    .header-container {
        padding: 12px 20px;
    }

    .banner-imgs .img-2{
        right: -4%;
    }

    .kt-banner .curve-1 {
        width: 65%;
        bottom: -110px;
    }

    .scale-features{
        padding: 0;
    }

    .single-feature{
        padding: 16px 24px;
    }

    .wpr-2 .single-feature::after{
        right: 16px;
        transform: scaleX(.70);
    }

    .single-feature h3{
        font-size: 28px;
        line-height: 32px;
    }
}

/* Max Width 1199px */

@media only screen and (max-width:1199px){

}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

}

/* Max Width 1024px */
@media only screen and (max-width:1024px){

    .project-slider .project-content{
        margin-top: 100px;
    }

    .project-slider .owl-nav{
        left: 48%;
    }

    .project-slider .project-name{
        top: 10px;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    h1 {
        font-size: 50px;
        line-height: 57px;
        letter-spacing: -0.04em;
    }

    h3{
        font-size: 16px;
        line-height: 23px;
    }

    .sec-spacer{
        padding: 80px 0;
    }

    .kt-header{
        top: 20px;
    }

    .logo img{
        max-width: 100px;
    }

    .header-right{
        gap: 12px;
    }

    .header-right .btn{
        height: 27px;
        font-size: 8px;
        line-height: 27px;
        padding: 0 12px;
    }

    .nav-menu{
        gap: 16px;
    }

    .nav-menu a,
    .lang-switcher .lang{
        font-size: 8px;
        line-height: 10px;
    }

    .kt-banner{
        padding: 130px 0 80px;
    }

    .kt-banner::before{
        content: "";
    }

    .banner-list{
        grid-column-gap: 16px;
        margin: 16px 0;
    }

    .banner-list p{
        font-size: 9px;
        line-height: 14px;
        padding-left: 24px;
        margin-bottom: 12px;
    }

    .banner-list p::before{
        top: -6px;
        transform: scale(.5);
    }

    .banner-content .btn{
        width: 147px;
        height: 36px;
        font-size: 10px;
        line-height: 36px;
        border-radius: 61px;
    }

    .banner-imgs img{
        max-width: 297px;
    }

    .banner-imgs .img-1{
        margin-top: 60px;
    }

    .banner-imgs .img-2{
        right: -2%;
        top: -60px;
    }

    .banner-imgs .chart-img{
        max-width: 60%;
        left: 45%;
    }

    .kt-banner .curve-1 {
        width: 65%;
        bottom: -40px;
    }

    .kt-differ .sec-title{
        font-size: 34px;
        line-height: 41px;
        margin-bottom: 32px;
    }

    .differ-cards .single-card{
        grid-template-columns: 24px 1fr;
        grid-gap: 12px;
        padding: 16px 12px;
    }

    .differ-cards .single-card p{
        font-size: 8px;
        line-height: 14px;
        margin-top: 8px;
    }

    .connector{
        width: 76px;
        height: 104px;
        line-height: 104px;
    }

    .connector img{
        max-width: 49px;
    }

    .connector-wpr::before{
        content: url("../images/shapes/connt-left-md.png");
    }

    .connector-wpr::after{
        content: url("../images/shapes/connt-right-md.png");
    }

    .kt-scale .sec-title{
        font-size: 33px;
        line-height: 39px;
        margin-bottom: 16px;
    }

    .kt-scale{
        padding-top: 80px;
    }

    .kt-scale::after{
        bottom: 130px;
        height: 100%;
    }

    .kt-scale .sec-des{
        max-width: 318px;
        font-size: 10px;
        line-height: 15px;
    }

    .scale-features{
        margin-top: 40px;
    }

    /* .features-wpr{
        gap: 32px;
    } */

    .wpr-2{
        margin-top: 32px;
    }

    .single-feature{
        padding: 8px;
    }

    .single-feature.circle{
        width: 38px;
        height: 38px;
    }

    .single-feature.circle p{
        font-size: 5px;
        line-height: 7px;
    }

    .single-feature .icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
    }

    .single-feature .icon img{
        width: 12px;
        height: 12px;
    }

    .single-feature h3{
        font-size: 16px;
        line-height: 15px;
    }

    .single-feature b,
    .single-feature p{
        font-size: 9px;
        line-height: 16px;
    }

    .prime-features{
        margin: 60px 20px 30px 20px
    }

    .prime-features h3{
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    .prime-features p{
        font-size: 8px;
        line-height: 12px;
    }

    .prime-features .feature-list{
        grid-gap: 8px 24px;
    }

    .prime-features li{
        font-size: 9px;
        line-height: 13px;
        gap: 8px;
    }

    .prime-features li img{
        width: 14px;
        height: 14px;
    }

    .tab-links{
        padding: 8px;
    }

    .tab-links .nav-link{
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
    }

    .accounts-content{
        padding: 40px 24px;
        margin-top: 32px;
    }

    table.kt-table th{
        font-size: 14px;
        line-height: 20px;
        padding: 0 12px 8px;
    }

    table.kt-table td{
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px;
    }

    .td-btn{
        padding: 6px 12px;
    }

    .accounts-content .btn{
        height: 32px;
        font-size: 9px;
        line-height: 32px;
        padding: 0 16px;
        margin-top: 32px;
    }

    .trade-info h2{
        font-size: 34px;
        line-height: 41px;
    }
    
    .info-list{
        margin: 24px 0;
        padding-right: 24px;
    }

    .info-list li{
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 10px;
        padding-left: 32px;
    }

    .info-list li::before{
        top: -8px;
        transform: scale(.5);
    }

    .info-btns .btn{
        height: 37px;
        font-size: 9px;
        line-height: 37px;
        padding: 0 16px;
    }

    .info-btns .btn img{
        max-width: 9px;
        margin-left: 6px;
    }

    .info-btns .color-btn{
        margin-left: 12px;
    }

    .trade-image .img-sm{
        max-width: 147px;
    }

    .footer-wpr{
        margin: 50px 0;
        padding: 24px 40px;
    }

    .footer-wpr .logo{
        width: 127px;
    }

    .footer-social-links a{
        width: 32px;
        height: 32px;
        border-radius: 13px;
    }

    .footer-social-links img{
        max-width: 16px;
    }

    .footer-content p{
        font-size: 13px;
        line-height: 17px;
        padding-right: 32px;
    }

    .footer-widget h5{
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 8px;
    }

    .footer-menu li a{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 4px;
    }

    .footer-social-links{
        margin: 16px 0;
    }

    .footer-input{
        width: 158px;
        margin-top: 16px;
    }

    .footer-input input{
        height: 28px;
        font-size: 8px;
        line-height: 13px;
    }

    .footer-input input::placeholder{
        font-size: 8px;
        line-height: 13px;
    }

    .footer-input button{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        line-height: 15px;
    }
}

/* Max Width 767px */
@media only screen and (max-width:767px){

    h3{
        font-size: 16px;
        line-height: 23px;
    }

    .sec-spacer{
        padding: 80px 0;
    }

    .kt-header{
        top: 20px;
    }

    .logo img{
        max-width: 100px;
    }

    .header-right{
        gap: 12px;
    }

    .header-right .btn{
        height: 27px;
        font-size: 8px;
        line-height: 27px;
        padding: 0 12px;
    }

    .nav-menu{
        gap: 16px;
    }

    .nav-menu a,
    .lang-switcher .lang{
        font-size: 8px;
        line-height: 10px;
    }

    .kt-banner{
        padding: 130px 0 80px;
    }

    .kt-banner::before{
        content: "";
    }

    .banner-content{
        text-align: center;
        margin-bottom: 32px;
    }

    .banner-list{
        grid-column-gap: 16px;
        margin: 16px auto;
    }

    .banner-list p{
        font-size: 12px;
        text-align: left;
    }

    .banner-list p::before{
        top: -6px;
        transform: scale(.7);
    }

    .banner-content .btn{
        width: 147px;
        height: 36px;
        font-size: 10px;
        line-height: 36px;
        border-radius: 61px;
    }

    .banner-imgs img{
        max-width: 297px;
    }

    .banner-imgs .img-1{
        margin-top: 60px;
    }

    .banner-imgs .img-2{
        right: -2%;
        top: -60px;
    }

    .banner-imgs .chart-img{
        max-width: 40%;
        left: 30%;
    }

    .kt-banner .curve-1 {
        width: 65%;
        bottom: -40px;
    }

    .kt-differ .sec-title{
        font-size: 34px;
        line-height: 41px;
        margin-bottom: 32px;
    }

    .differ-cards .single-card{
        grid-template-columns: 24px 1fr;
        grid-gap: 12px;
        padding: 16px 12px;
    }

    .differ-cards .single-card p{
        font-size: 8px;
        line-height: 14px;
        margin-top: 8px;
    }

    .connector{
        width: 76px;
        height: 104px;
        line-height: 104px;
    }

    .connector img{
        max-width: 49px;
    }

    .connector-wpr::before,
    .connector-wpr::after{
        content: "";
    }

    .kt-scale .sec-title{
        font-size: 33px;
        line-height: 39px;
        margin-bottom: 16px;
    }

    .kt-scale{
        padding-top: 80px;
    }

    .kt-scale::after{
        bottom: 130px;
        height: 100%;
    }

    .kt-scale .sec-des{
        max-width: 318px;
        font-size: 10px;
        line-height: 15px;
    }

    .scale-features{
        margin-top: 40px;
    }

    /* .features-wpr{
        gap: 32px;
    } */

    .wpr-2{
        margin-top: 32px;
    }

    .single-feature{
        padding: 8px;
    }

    .single-feature.circle{
        width: 38px;
        height: 38px;
    }

    .single-feature.circle p{
        font-size: 5px;
        line-height: 7px;
    }

    .single-feature .icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
    }

    .single-feature .icon img{
        width: 12px;
        height: 12px;
    }

    .single-feature h3{
        font-size: 16px;
        line-height: 15px;
    }

    .single-feature b,
    .single-feature p{
        font-size: 9px;
        line-height: 16px;
    }

    .prime-features{
        margin: 60px 20px 30px 20px
    }

    .prime-features h3{
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    .prime-features p{
        font-size: 8px;
        line-height: 12px;
    }

    .prime-features .feature-list{
        grid-gap: 8px 24px;
    }

    .prime-features li{
        font-size: 9px;
        line-height: 13px;
        gap: 8px;
    }

    .prime-features li img{
        width: 14px;
        height: 14px;
    }

    .tab-links{
        padding: 8px;
    }

    .tab-links .nav-link{
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
    }

    .accounts-content{
        padding: 40px 24px;
        margin-top: 32px;
    }

    table.kt-table th{
        font-size: 14px;
        line-height: 20px;
        padding: 0 12px 8px;
    }

    table.kt-table td{
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px;
    }

    .td-btn{
        padding: 6px 12px;
    }

    .accounts-content .btn{
        height: 32px;
        font-size: 9px;
        line-height: 32px;
        padding: 0 16px;
        margin-top: 32px;
    }

    .trade-info h2{
        font-size: 34px;
        line-height: 41px;
    }
    
    .info-list{
        margin: 24px 0;
        padding-right: 24px;
    }

    .info-list li{
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 10px;
        padding-left: 32px;
    }

    .info-list li::before{
        top: -8px;
        transform: scale(.5);
    }

    .info-btns .btn{
        height: 37px;
        font-size: 9px;
        line-height: 37px;
        padding: 0 16px;
    }

    .info-btns .btn img{
        max-width: 9px;
        margin-left: 6px;
    }

    .info-btns .color-btn{
        margin-left: 12px;
    }

    .trade-image .img-sm{
        max-width: 147px;
    }

    .footer-wpr{
        margin: 50px 0;
        padding: 24px 40px;
    }

    .footer-wpr .logo{
        width: 127px;
    }

    .footer-social-links a{
        width: 32px;
        height: 32px;
        border-radius: 13px;
    }

    .footer-social-links img{
        max-width: 16px;
    }

    .footer-content p{
        font-size: 13px;
        line-height: 17px;
        padding-right: 32px;
    }

    .footer-widget h5{
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 8px;
    }

    .footer-menu li a{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 4px;
    }

    .footer-social-links{
        margin: 16px 0;
    }

    .footer-input{
        width: 158px;
        margin-top: 16px;
    }

    .footer-input input{
        height: 28px;
        font-size: 8px;
        line-height: 13px;
    }

    .footer-input input::placeholder{
        font-size: 8px;
        line-height: 13px;
    }

    .footer-input button{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        line-height: 15px;
    }
    
}

/* Max Width 575px */
@media only screen and (max-width:575px){

    .table-sorting-wpr{
        gap: 24px;
    }

    .table-sorting-filter{
        width: max-content;
    }
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){
    
    .content-wpr img{
        max-width: 100px;
    }

    .content-wpr h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .content-wpr .connect-btn{
        width: max-content;
        margin-top: 24px;
        padding: 16px 32px;
    }

    .cntrct-mintner .table-toolbar{
        margin: 40px 0;
    }

    .task-btn{
        margin-right: 12px;
    }

    .pagination{
        flex-direction: column;
        align-items: flex-start;
    }

    table.wallet-tracker th:first-child, 
    table.wallet-tracker td:first-child{
        padding-left: 24px;
    }

    .toolbar-filter-wpr .search,
    .toolbar-filter-wpr .search input{
        width: 100%;
    }

    .toolbar-filter-wpr{
        flex-direction: column;
        align-items: flex-start;
    }

    .switch-button,
    .switch-button-checkbox + .switch-button-label{
        height: 40px;
        line-height: 40px;
    }

    .nft-sale-report .card-heading .d-flex{
        flex-direction: column;
        align-items: flex-start !important;
        gap: 16px;
    }

    .dash-heading .task-btn,
    .dashboard-right .task-btn{
        width: 100px;
    }

    .dash-footer{
        flex-direction: column;
        padding: 16px;
    }

    .dashboard-left .nft-price-table{
        display: block;
    }

    .dashboard-left .nft-price-table th,
    .dashboard-left .nft-price-table td{
        width: max-content !important;
        white-space: nowrap;
    }

    .dashboard-left td > .d-flex{
        min-width: 100px;
    }

    .dashboard-left td .crypto-name{
        margin-left: 4px;
    }

    .modal-wpr{
        padding: 24px;
    }

    .nft-task-modal .input-grp label,
    .nft-task-modal .check-input h5{
        font-size: 18px;
    }

    .nft-task-modal .input-grp input:not([type='checkbox']){
        height: 50px;
        padding: 8px 16px;
    }

    .nft-task-modal .check-input{
        flex-direction: column;
        gap: 0;
    }

    .nft-watchlist .toolbar-left{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .nft-products-container .sidebar-widget{
        width: 290px;
        height: 100vh;
        overflow-y: auto;
    }

    .rank-filter p{
        font-size: 18px;
    }

    .nft-products,
    .nft-market .container-2 .nft-products{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 16px;
    }

    .nft-products-wpr .table-sorting-wpr.sorting-wpr-2{
        flex-wrap: wrap;
    }

}

/* Max Width 416px */

@media only screen and (max-width:416px){

    .search input{
        width: 150px;
    }

    .search input::placeholder{
        color: transparent;
    }

    .nft-products-wpr .search input::placeholder{
        color: inherit;
    }

    .table-toolbar h2{
        font-size: 40px;
    }

    .table-sorting-wpr{
        gap: 16px;
    }

    .table-sorting-filter{
        padding: 8px 0 8px 16px;
        border-radius: 5px;
    }

    .table-sorting-filter select{
        background-position-x: 90%;
        padding-right: 32px;
    }

    .content-wpr h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .content-wpr img{
        max-width: 80px;
    }

    .content-wpr .connect-btn{
        width: max-content;
        font-size: 16px;
        margin-top: 16px;
        padding: 12px 24px;
    }

    .cntrct-mintner .table-toolbar h2{
        font-size: 40px;
    }

    .task-btn-wpr{
        display: flex;
        gap: 12px;
    }

    .task-btn{
        font-size: 16px;
        margin-right: 0;
        padding: 0 20px;
    }

    .dash-heading .nft-logo{
        gap: 16px;
    }

    .dash-heading .nft-logo h3{
        font-size: 40px;
    }

    .nft-statistics{
        gap: 16px;
        overflow-x: auto;
    }

    .nft-statistics .single-stats .name,
    .single-stats .val{
        width: max-content;
    }

    .single-stats .val{
        margin-top: 8px;
        font-size: 16px;
    }

    .nft-market .search-filter input {
        width: 310px !important;
    }

    .rank-filter{
        flex-wrap: wrap;
        gap: 8px;
    }

}

/* Max Width 390px */

@media only screen and (max-width:390px){

    .container{
        max-width: 100% !important;
    }

    .nft-watchlist .task-btn-wpr{
        gap: 0;
    }

    .nft-market .search-filter input {
        width: 260px !important;
    }
    
}

/* Max Width 380px */

@media only screen and (max-width:380px){

    .header-left,
    .header-right{
        gap: 8px;
    }

    .table-sorting-wpr.sorting-wpr-2,
    .table-sorting-wpr{
        gap: 12px;
    }
}

/* Max Width 320px */

@media only screen and (max-width:320px){

    
}