/* Min Width 1600px */
@media only screen and (min-width: 1600px){
    .container{
        max-width: 1550px !important;
    }

}

/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container{
        max-width: 1320px !important;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }

}

/* Min Width 1300px */
@media only screen and (min-width:1300px){

    .container{
        max-width: 1292px;
        padding: 0;
    }

    .banner-imgs .img-2{
        right: -4%;
    }

    .banner-imgs .chart-img{
        left: 45%;
        transform: translate(-60%, -50%);
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){
    
}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .kt-main-nav{
        display: block !important;
    }

}

/* Max Width 1399px */
@media only screen and (max-width: 1399px){

    .kt-banner .curve-1 {
        width: 62%;
        bottom: -100px;
    }

    .scale-features {
        padding: 0 40px 0 45px;
    }

    .prime-features {
        margin: 120px 20px 60px 20px;
    }

    .trade-info h2{
        font-size: 60px;
        line-height: 75px;
    }

    .info-list{
        padding-right: 60px;
    }

}

/* Max Width 1299px */
@media only screen and (max-width: 1299px){

    h1{
        font-size: 75px;
        line-height: 90px;
    }

    .header-container {
        padding: 12px 20px;
    }

    .banner-imgs .img-1{
        margin-top: 110px;
    }

    .banner-imgs .img-2{
        right: -4%;
    }

    .kt-banner .curve-1 {
        width: 65%;
        bottom: -90px;
    }

    .scale-features{
        padding: 0;
    }

    .single-feature{
        padding: 16px 24px;
    }

    .wpr-2 .single-feature::after{
        right: 16px;
        transform: scaleX(.70);
    }

    .single-feature h3{
        font-size: 28px;
        line-height: 32px;
    }
}

/* Max Width 1199px */

@media only screen and (max-width:1199px){

    h1 {
        font-size: 60px;
        line-height: 80px;
    }

    h3{
        font-size: 24px;
        line-height: 30px;
    }

    .sec-spacer{
        padding: 100px 0;
    }

    .kt-header{
        top: 20px;
    }

    .logo img{
        max-width: 100px;
    }

    .header-right{
        gap: 12px;
    }

    .header-right .btn{
        height: 27px;
        font-size: 12px;
        line-height: 27px;
        padding: 0 16px;
    }

    .nav-menu{
        gap: 16px;
    }

    .nav-menu a,
    .lang-switcher .lang{
        font-size: 12px;
        line-height: 10px;
    }

    .banner-list{
        grid-column-gap: 16px;
        margin: 16px 0;
    }

    .banner-list p{
        font-size: 12px;
        line-height: 16px;
        padding-left: 24px;
        margin-bottom: 16px;
    }

    .banner-list p::before{
        top: -6px;
        transform: scale(.7);
    }

    .banner-content .btn{
        width: 147px;
        height: 40px;
        font-size: 12px;
        line-height: 40px;
        border-radius: 61px;
    }

    .banner-imgs .img-1{
        margin-top: 80px;
    }

    .kt-banner .curve-1{
        bottom: -70px;
    }

    .kt-differ .sec-title{
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 32px;
    }

    .differ-cards .single-card{
        grid-template-columns: 32px 1fr;
        grid-gap: 16px;
        padding: 16px 12px;
    }

    .differ-cards .single-card p{
        font-size: 12px;
        line-height: 18px;
        margin-top: 8px;
    }

    .connector{
        width: 76px;
        height: 104px;
        line-height: 104px;
    }

    .connector img{
        max-width: 49px;
    }

    .connector-wpr::before{
        content: url("../images/shapes/connt-left-md.png");
    }

    .connector-wpr::after{
        content: url("../images/shapes/connt-right-md.png");
    }

    .prime-features h3{
        font-size: 32px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .prime-features p{
        font-size: 14px;
        line-height: 20px;
    }

    .prime-features .feature-list{
        grid-gap: 8px 24px;
    }

    .prime-features li{
        font-size: 14px;
        line-height: 20px;
        gap: 8px;
    }

    .prime-features li img{
        width: 20px;
        height: 20px;
    }

    .tab-links{
        padding: 8px;
    }

    .tab-links .nav-link{
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
    }

    .accounts-content{
        padding: 40px 24px;
        margin-top: 32px;
    }

    table.kt-table th{
        font-size: 14px;
        line-height: 20px;
        padding: 0 12px 8px;
    }

    table.kt-table td{
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px;
    }

    .td-btn{
        padding: 6px 12px;
    }

    .accounts-content .btn{
        height: 40px;
        font-size: 12px;
        line-height: 40px;
        padding: 0 24px;
        margin-top: 32px;
    }

    .trade-info h2{
        font-size: 48px;
        line-height: 60px;
    }
    
    .info-list{
        margin: 24px 0;
        padding-right: 24px;
    }

    .info-list li{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
        padding-left: 32px;
    }

    .info-list li::before{
        top: -8px;
        transform: scale(.5);
    }

    .info-btns .btn{
        height: 40px;
        font-size: 13px;
        line-height: 40px;
        padding: 0 24px;
    }

    .info-btns .btn img{
        max-width: 12px;
        margin-left: 6px;
    }

    .info-btns .color-btn{
        margin-left: 12px;
    }

    .trade-image .img-sm{
        max-width: 147px;
    }

    .footer-wpr{
        margin: 50px 0;
        padding: 24px 40px;
    }

    .footer-wpr .logo{
        width: 127px;
    }

    .footer-social-links a{
        width: 32px;
        height: 32px;
        border-radius: 13px;
    }

    .footer-social-links img{
        max-width: 16px;
    }

    .footer-content p{
        font-size: 16px;
        line-height: 20px;
        padding-right: 32px;
    }

    .footer-widget h5{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .footer-menu li a{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
    }

    .footer-social-links{
        margin: 16px 0;
    }

    .footer-input{
        width: 180px;
        margin-top: 16px;
    }

    .footer-input input{
        height: 32px;
        font-size: 12px;
        line-height: 13px;
    }

    .footer-input input::placeholder{
        font-size: 12px;
        line-height: 13px;
    }

    .footer-input button{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        line-height: 15px;
    }

}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

}

/* Max Width 1024px */
@media only screen and (max-width:1024px){

    h1 {
        font-size: 50px;
        line-height: 57px;
        letter-spacing: -0.04em;
    }

    .sec-spacer{
        padding: 80px 0;
    }

    .kt-banner{
        padding: 130px 0 80px;
    }

    .kt-banner::before{
        content: "";
    }

    .banner-imgs img{
        max-width: 297px;
    }

    .banner-imgs .img-1{
        margin-top: 60px;
    }

    .banner-imgs .img-2{
        right: -2%;
        top: -60px;
    }

    .kt-banner .curve-1 {
        width: 65%;
        bottom: -40px;
    }

    .banner-imgs .chart-img{
        max-width: 50%;
        left: 30%;
    }

    .kt-scale .sec-title{
        font-size: 33px;
        line-height: 39px;
        margin-bottom: 16px;
    }

    .kt-scale{
        padding-top: 80px;
    }

    .kt-scale::after{
        bottom: 130px;
        height: 100%;
    }

    .kt-scale .sec-des{
        max-width: 318px;
        font-size: 10px;
        line-height: 15px;
    }

    .scale-features{
        margin-top: 40px;
    }

    /* .features-wpr{
        gap: 32px;
    } */

    .wpr-2{
        margin-top: 32px;
    }

    .single-feature{
        padding: 8px;
    }

    .single-feature.circle{
        width: 38px;
        height: 38px;
    }

    .single-feature.circle p{
        font-size: 5px;
        line-height: 7px;
    }

    .single-feature .icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
    }

    .single-feature .icon img{
        width: 12px;
        height: 12px;
    }

    .single-feature h3{
        font-size: 16px;
        line-height: 15px;
    }

    .single-feature b,
    .single-feature p{
        font-size: 9px;
        line-height: 16px;
    }

    .prime-features{
        margin: 60px 20px 30px 20px
    }

    .prime-features h3{
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    .prime-features p{
        font-size: 8px;
        line-height: 12px;
    }

    .prime-features li{
        font-size: 9px;
        line-height: 13px;
        gap: 8px;
    }

    .prime-features li img{
        width: 14px;
        height: 14px;
    }

    .accounts-content .btn{
        height: 32px;
        font-size: 9px;
        line-height: 32px;
        padding: 0 16px;
    }

    .trade-info h2{
        font-size: 34px;
        line-height: 41px;
    }

    .info-list li{
        font-size: 11px;
        line-height: 17px;
    }

    .info-btns .btn{
        height: 37px;
        font-size: 9px;
        line-height: 37px;
        padding: 0 16px;
    }

    .info-btns .btn img{
        max-width: 9px;
        margin-left: 6px;
    }

    .info-btns .color-btn{
        margin-left: 12px;
    }

    .trade-image .img-sm{
        max-width: 147px;
    }

    .footer-wpr{
        margin: 50px 0;
        padding: 24px 40px;
    }

    .footer-wpr .logo{
        width: 127px;
    }

    .footer-social-links a{
        width: 32px;
        height: 32px;
        border-radius: 13px;
    }

    .footer-social-links img{
        max-width: 16px;
    }

    .footer-content p{
        font-size: 13px;
        line-height: 17px;
    }

    .footer-widget h5{
        font-size: 12px;
        line-height: 17px;
    }

    .footer-menu li a{
        font-size: 10px;
        line-height: 15px;
    }

    .footer-social-links{
        margin: 16px 0;
    }

    .footer-input{
        width: 158px;
    }

    .footer-input input{
        height: 28px;
        font-size: 8px;
    }

    .footer-input input::placeholder{
        font-size: 8px;
    }

    .footer-input button{
        width: 20px;
        height: 20px;
        border-radius: 6px;
        line-height: 15px;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    h1 {
        font-size: 50px;
        line-height: 57px;
        letter-spacing: -0.04em;
    }

    h3{
        font-size: 16px;
        line-height: 23px;
    }

    .sec-spacer{
        padding: 80px 0;
    }

    .header-right .btn{
        font-size: 8px;
        padding: 0 12px;
    }

    .nav-menu{
        gap: 16px;
    }

    .nav-menu a,
    .lang-switcher .lang{
        font-size: 8px;
    }

    .kt-banner{
        padding: 130px 0 80px;
    }

    .kt-banner::before{
        content: "";
    }

    .banner-list{
        grid-column-gap: 16px;
        margin: 16px 0;
    }

    .banner-list p{
        font-size: 9px;
        line-height: 14px;
        padding-left: 24px;
        margin-bottom: 12px;
    }

    .banner-list p::before{
        top: -6px;
        transform: scale(.5);
    }

    .banner-content .btn{
        width: 147px;
        height: 36px;
        font-size: 10px;
        line-height: 36px;
        border-radius: 61px;
    }

    .banner-imgs img{
        max-width: 297px;
    }

    .banner-imgs .img-1{
        margin-top: 60px;
    }

    .banner-imgs .img-2{
        right: -2%;
        top: -60px;
    }

    .banner-imgs .chart-img{
        max-width: 60%;
        left: 45%;
    }

    .kt-banner .curve-1 {
        width: 65%;
        bottom: -40px;
    }

    .kt-differ .sec-title{
        font-size: 34px;
        line-height: 41px;
    }

    .differ-cards .single-card{
        grid-template-columns: 24px 1fr;
        grid-gap: 12px;
    }

    .differ-cards .single-card p{
        font-size: 8px;
        line-height: 14px;
    }

    .connector{
        width: 76px;
        height: 104px;
        line-height: 104px;
    }

    .connector img{
        max-width: 49px;
    }

    .connector-wpr::before{
        content: url("../images/shapes/connt-left-md.png");
    }

    .connector-wpr::after{
        content: url("../images/shapes/connt-right-md.png");
    }

    .kt-scale .sec-title{
        font-size: 33px;
        line-height: 39px;
        margin-bottom: 16px;
    }

    .kt-scale{
        padding-top: 80px;
    }

    .kt-scale::after{
        bottom: 130px;
        height: 100%;
    }

    .kt-scale .sec-des{
        max-width: 318px;
        font-size: 10px;
        line-height: 15px;
    }

    .scale-features{
        margin-top: 40px;
    }

    /* .features-wpr{
        gap: 32px;
    } */

    .wpr-2{
        margin-top: 32px;
    }

    .single-feature{
        padding: 8px;
    }

    .single-feature.circle{
        width: 38px;
        height: 38px;
    }

    .single-feature.circle p{
        font-size: 5px;
        line-height: 7px;
    }

    .single-feature .icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
    }

    .single-feature .icon img{
        width: 12px;
        height: 12px;
    }

    .single-feature h3{
        font-size: 16px;
        line-height: 15px;
    }

    .single-feature b,
    .single-feature p{
        font-size: 9px;
        line-height: 16px;
    }

    .prime-features{
        margin: 60px 20px 30px 20px
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){

    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    
    h3{
        font-size: 16px;
        line-height: 23px;
    }

    .sec-spacer{
        padding: 50px 0;
    }

    .kt-header{
        top: 10px;
    }

    .header-container{
        background-color: transparent;
        padding: 12px 0;
    }

    .logo img{
        max-width: 80px;
    }

    .header-right{
        gap: 12px;
    }

    .header-right .btn{
        display: none;
    }

    .kt-main-nav{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        background-color: #1D1D26;
        padding: 8px 24px;
        z-index: 100;
    }

    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .nav-menu a{
        width: 100%;
        border-bottom: 1px dashed var(--secondary-color);
        padding: 8px 0;
    }

    .nav-menu a:last-child{
        border-bottom: 0;
    }

    .nav-menu .btn{
        height: 32px;
        font-size: 12px;
        border: 1px solid var(--secondary-color);
        margin-top: 8px;
        padding: 0;
        line-height: 32px;
    }

    .lang-switcher{
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 49px;
        padding: 0 12px 2px;
    }

    .lang-switcher .lang{
        font-size: 10px;
        line-height: 12px;
    }

    .lang-switcher .lang-list .single-lang .lang-text{
        font-size: 10px;
    }

    .lang-switcher .lang-list-open{
        top: 45px;
    }

    .nav-toggle{
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
    }

    .nav-toggle i{
        font-size: 18px;
        text-indent: 2px;
    }

    .kt-banner{
        padding: 100px 0 80px;
    }

    .kt-banner::before{
        content: "";
    }

    .banner-content{
        text-align: center;
        margin-bottom: 32px;
    }

    .banner-list{
        grid-column-gap: 16px;
        margin: 16px auto;
    }

    .banner-list p{
        font-size: 12px;
        text-align: left;
    }

    .banner-list p::before{
        top: -6px;
        transform: scale(.7);
    }

    .banner-content .btn{
        width: 147px;
        height: 36px;
        font-size: 10px;
        line-height: 36px;
        border-radius: 61px;
    }

    .banner-imgs img{
        max-width: 297px;
    }

    .banner-imgs .img-1{
        width: max-content;
        margin-top: 60px;
    }

    .banner-imgs .img-2{
        right: -2%;
        top: -60px;
    }

    .banner-imgs .chart-img{
        max-width: 60%;
        left: 45%;
    }

    .kt-banner .curve-1 {
        width: 60%;
        bottom: 40px;
    }

    .kt-banner .curve-2{
        width: 25%;
        bottom: 60px;
    }

    .kt-differ .sec-title{
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 24px;
    }

    .differ-cards{
        position: relative;
        z-index: 1;
    }

    .differ-cards::before{
        position: absolute;
        content: url("../images/shapes/connt-left-sm.png");
        top: 6%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .differ-cards::after{
        position: absolute;
        content: url("../images/shapes/connt-right-sm.png");
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .differ-cards .row{
        gap: 32px;
    }

    .differ-cards .single-card{
        grid-template-columns: 24px 1fr;
        grid-gap: 12px;
        padding: 16px;
    }

    .differ-cards .single-card p{
        font-size: 12px;
        font-weight: var(--font-weight-normal);
        line-height: 16px;
        margin-top: 8px;
    }

    .connector{
        position: relative;
        margin: 32px 0;
    }
    
    .connector img{
        max-width: 49px;
    }

    .connector-wpr::before,
    .connector-wpr::after{
        content: "";
    }

    .kt-scale .sec-title{
        font-size: 33px;
        line-height: 39px;
        margin-bottom: 16px;
    }

    .kt-scale{
        padding-top: 80px;
    }

    .kt-scale::after{
        bottom: 130px;
        height: 100%;
    }

    .kt-scale .sec-des{
        max-width: 318px;
        font-size: 10px;
        line-height: 15px;
    }

    .scale-features{
        margin-top: 40px;
        display: none;
    }

    /* .features-wpr{
        gap: 32px;
    } */

    .wpr-2{
        margin-top: 32px;
    }

    .single-feature{
        padding: 8px;
    }

    .single-feature.circle{
        width: 38px;
        height: 38px;
    }

    .single-feature.circle p{
        font-size: 5px;
        line-height: 7px;
    }

    .single-feature .icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
    }

    .single-feature .icon img{
        width: 12px;
        height: 12px;
    }

    .single-feature h3{
        font-size: 16px;
        line-height: 15px;
    }

    .single-feature b,
    .single-feature p{
        font-size: 9px;
        line-height: 16px;
    }

    .prime-features{
        margin: 60px 0 16px;
        padding: 24px 16px;
    }

    .prime-features h3{
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 8px;
        text-align: center;
    }

    .prime-features p{
        max-width: 90%;
        font-size: 8px;
        line-height: 12px;
        text-align: center;
        margin: 0 auto;
    }

    .prime-features .feature-list{
        grid-gap: 8px 16px;
        margin-top: 24px;
    }

    .prime-features li{
        font-size: 8px;
        line-height: 13px;
        gap: 8px;
    }

    .prime-features li img{
        width: 14px;
        height: 14px;
    }

    .tab-links{
        padding: 4px;
    }
    
    .tab-links li{
        line-height: .5;
    }

    .tab-links .nav-link{
        font-size: 6px;
        line-height: 9px;
        padding: 4px 8px;
    }

    .accounts-content{
        padding: 24px 12px;
        margin-top: 24px;
    }

    table.kt-table th{
        font-size: 6px;
        line-height: 9px;
        padding: 0 8px 4px;
    }

    table.kt-table td{
        font-size: 6px;
        line-height: 9px;
        padding: 6px 8px;
    }

    table.kt-table .acc-name + img{
        width: 8px;
        height: 8px
    };

    .td-btn{
        padding: 4px 8px;
    }

    .accounts-content .btn{
        height: 28px;
        font-size: 8px;
        line-height: 28px;
        padding: 0 16px;
        margin-top: 24px;
    }

    .trade-info h2{
        max-width: 90%;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin: 0 auto;
    }
    
    .info-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 24px 0;
        padding-right: 0;
    }

    .info-list li{
        font-size: 8px;
        line-height: 12px;
        margin-bottom: 8px;
        padding-left: 32px;
    }

    .info-list li::before{
        top: -10px;
        transform: scale(.4);
    }

    .info-btns{
        text-align: center;
    }

    .info-btns .btn{
        height: 37px;
        font-size: 9px;
        line-height: 37px;
        padding: 0 16px;
    }

    .info-btns .btn img{
        max-width: 9px;
        margin-left: 6px;
    }

    .info-btns .color-btn{
        margin-left: 12px;
    }

    .trade-image{
        left: 16.99%;
        margin-top: 40px;
    }

    .trade-image .img-sm{
        max-width: 147px;
    }

    .footer-wpr{
        padding: 24px 16px;
    }

    .footer-wpr .logo{
        width: 100px;
    }

    .footer-social-links a{
        width: 16px;
        height: 16px;
        border-radius: 13px;
    }

    .footer-social-links img{
        max-width: 8px;
    }

    .footer-content p{
        font-size: 5px;
        line-height: 8px;
        padding-right: 16px;
    }

    .footer-widget h5{
        font-size: 6px;
        line-height: 8px;
        margin-bottom: 6px;
    }

    .footer-menu li{
        line-height: 0.5;
    }

    .footer-menu li a{
        font-size: 4.5px;
        line-height: 7px;
    }

    .footer-social-links{
        margin: 16px 0;
    }

    .footer-input{
        width: 100px;
        margin-top: 16px;
    }

    .footer-input input{
        height: 24px;
        font-size: 4px;
        line-height: 8px;
    }

    .footer-input input::placeholder{
        font-size: 4px;
        line-height: 8px;
    }

    .footer-input button{
        top: 13px;
        width: 16px;
        height: 16px;
        border-radius: 6px;
        line-height: 8px;
    }
    
}

/* Max Width 575px */
@media only screen and (max-width:575px){

    
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .differ-cards .single-card{
        padding: 16px 12px;
    }

    .differ-cards .single-card p{
        font-size: 8px;
        font-weight: var(--font-weight-medium);
        line-height: 14px;
    }

}

/* Max Width 416px */

@media only screen and (max-width:416px){

    
}

/* Max Width 390px */

@media only screen and (max-width:390px){

    .container{
        max-width: 100% !important;
    }

}

/* Max Width 380px */

@media only screen and (max-width:380px){


}

/* Max Width 320px */

@media only screen and (max-width:320px){

    
}