/* Min Width 1600px */
@media only screen and (min-width: 1800px){
    
    .header-3 .shapes img{
        min-width: 55% !important;
    }
}

/* Min Width 1600px */
@media only screen and (min-width: 1600px){
    .container{
        max-width: 1550px !important;
    }
    
    .header-3 .shapes img{
        right: 0;
        min-width: 50%;
    }
}

/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container{
        max-width: 1320px !important;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }

    .testi-slider-wpr .owl-nav .owl-next {
        right: -56px;
    }

}

/* Min Width 1300px */
@media only screen and (min-width:1300px){

    .container{
        max-width: 1292px;
        padding: 0;
    }

    .banner-imgs .img-2{
        right: -4%;
    }

    .banner-imgs .chart-img{
        left: 45%;
        transform: translate(-60%, -50%);
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){
    
    .payments{
        max-width: 80%;
    }
}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .kt-main-nav{
        display: block !important;
    }

    .react-icons .lg-icon{
        width: 30px;
    }

}

/* Max Width 1399px */
@media only screen and (max-width: 1399px){

    .kt-banner .curve-1 {
        width: 62%;
        bottom: -100px;
    }

    .scale-features {
        padding: 0 40px 0 45px;
    }

    .prime-features {
        margin: 120px 20px 60px 20px;
    }

    .about-info h2{
        font-size: 60px;
        line-height: 75px;
    }

    .info-list{
        padding-right: 60px;
    }

}

/* Max Width 1299px */
@media only screen and (max-width: 1299px){

    .header-container {
        padding: 12px 20px;
    }

}

/* Max Width 1199px */

@media only screen and (max-width:1199px){

    .header-3 .header-right,
    .header-3 .nav-menu{
        gap: 16px;
    }

    .header-3 .nav-menu a{
        font-size: 16px;
    }

    .banner-4 .banner-title{
        font-size: 55px;
        line-height: 60px;
    }

    .sec-spacer,
    .kt-choose-us{
        padding: 100px 0;
    }

    .kt-choose-us .single-card{
        grid-template-columns: 1fr 450px;
        align-items: center;
        grid-gap: 50px;
    }

    .kt-choose-us .single-card.reverse{
        grid-template-columns: 450px 1fr;
    }

    .card-content h3{
        font-size: 32px;
        line-height: 42px;
        padding-top: 0px;
    }

    .prime-slider{
        max-width: 95%;
    }

    .kt-prime .sec-des{
        max-width: 65%;
    }

    .about-acunts-2 .sec-des{
        max-width: 60%;
    }

    .testi-2{
        padding: 0;
    }

    .about-2 .about-info{
        max-width: 100%;
    }

    .about-2 .sec-title{
        max-width: 80%;
    }

    .about-faq .sec-title{
        max-width: 100%;
    }

    .about-faq{
        padding-right: 0;
    }

    .bnd-reviews .slide p{
        max-width: 90%;
    }

    .testi-slider-2 .owl-nav .owl-prev {
        left: -20px;
    }

    .kt-reviews .sec-title{
        max-width: 100%;
    }

}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

}

/* Max Width 1024px */
@media only screen and (max-width:1024px){



}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .sec-spacer, 
    .kt-choose-us{
        padding: 80px 0;
    }

    .header-3 .header-container{
        gap: 24px;
    }

    .header-3 .nav-menu a{
        font-size: 11px;
        line-height: 16px;
    }

    .lang-switcher{
        min-width: max-content;
    }

    .lang-switcher .lang{
        font-size: 8px;
    }

    .header-3 .btn{
        height: 32px;
        font-size: 11px;
        line-height: 32px;
    }

    .header-3 .shapes img {
        max-height: 80px;
    }

    .header-3 .shapes img:last-child{
        max-height: 110px;
    }

    .banner-4{
        padding: 40px 0;
    }

    .banner-4 .banner-title{
        max-width: 451px;
        font-size: 28px;
        line-height:38px;
    }

    .banner-4 p{
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
        margin: 16px auto 0;
    }

    .banner-4 .banner-imgs img{
        max-width: 100px;
    }

    .testi-2 .sec-title{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 40px;
    }

    .testi-2 .reviews-sum h4 {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 8px;
    }

    .testi-2 .reviews-sum a.total-reviews {
        font-size: 8px;
        line-height: 10px;
    }

    .testi-2 .ratings img{
        max-width: 14px;
        height: 14px;
    }

    .testi-slider-2 .single-slide .ratings img{
        max-width: 10px;
        height: 10px;
    }

    .testi-slider-2 .single-slide h5{
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 4px;
    }

    .testi-slider-2 .single-slide{
        border-radius: 9px;
        padding: 8px;
    }

    .testi-slider-2 .content p{
        font-size: 8px;
        line-height: 12px
    }

    .testi-slider-2 .owl-carousel .owl-nav .owl-prev, 
    .testi-slider-2 .owl-carousel .owl-nav .owl-next{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }

    .testi-slider-2 .owl-nav span{
        font-size: 8px;
        line-height: 1;
    }

    .testi-slider-2 .slide-grp{
        gap: 12px;
    }

    .kt-about{
        padding: 80px 0;
    }

    .kt-about .sec-title,
    .app-info h2{
        font-size: 25px;
        line-height: 39px;
        margin-bottom: 24px;
    }

    .info-list li{
        font-size: 12px;
        line-height: 18px;
        padding-left: 28px;
    }

    .info-list li::before{
        content: url("../images/icons/tick-trans-sm.svg");
    }

    .kt-partners{
        padding: 12px 0;
    }

    .kt-partners p{
       font-size: 16px;
       margin-bottom: 0;
    }

    .partners{
        gap: 16px;
    }

    .partners img{
        max-width: 100px;
    }

    .kt-app{
        padding: 50px 0;
    }

    .app-info{
        padding-left: 50px;
    }

    .app-info p{
        font-size: 12px;
        line-height: 18px;
        margin-top: 16px;
    }

    .info-banner h6{
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .2em;
        padding: 24px;
    }

    .kt-clnt-reviews{
        padding-top: 80px;
    }

    .kt-clnt-reviews .sec-title,
    .kt-reviews .sec-title{
        font-size: 34px;
        line-height: 41px;
        margin-bottom: 48px;
    }

    .clnt-reviews{
        margin: 45px 0;
    }

    .kt-clnt-reviews .btn,
    .ltr-content .btn {
        width: 140px;
        height: 50px;
        font: var(--font-weight-bold) 18px/18px var(--body-font);
        border-radius: 0;
        line-height: 50px;
    }

    .footer-4{
        padding: 50px 0;
    }

    .footer-4 p{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 24px;
    }

    .footer-4 .footer-bottom p{
        font-size: 14px;
        line-height: 16px;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .sec-spacer, 
    .kt-choose-us{
        padding: 40px 0;
    }

    
    /* Mobile Nav Start */

    .header-3 .header-left{
        flex: 1;
        justify-content: flex-start;
        gap: 16px;
    }

    .header-3 .header-right{
        flex: 1;
        justify-content: flex-end;
        gap: 12px;
    }

    .header-3 .kt-main-nav{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        background-color: #1D1D26;
        padding: 8px 24px;
        z-index: 100;
    }

    .header-3 .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .header-3 .nav-menu a{
        width: 100%;
        border-bottom: 1px dashed var(--secondary-color);
        padding: 8px 0;
    }

    .nav-menu a:last-child{
        border-bottom: 0;
    }

    .mobile-menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 32px;
        height: 32px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        outline: none;
        cursor: pointer;
        z-index: 10;
    }

    .mobile-menu-icon span {
        position: relative;
        display: inline-block;
        height: 1px;
        width: 11px;
        background: var(--white-color);
        opacity: .6;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    .mobile-menu-icon span:nth-child(2){
        width: 8px;
        opacity: 1;
    }

    .mobile-menu-icon.open span:nth-child(1) {
        top: 6px;
        transform: rotate(135deg);
    }

    .mobile-menu-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .mobile-menu-icon.open span:nth-child(3) {
        top: -4px;
        transform: rotate(-135deg);
    }

    /* Mobile Nav End */

    .banner-4 .banner-title {
        font-size: 32px;
        line-height: 36px;
    }

    .banner-imgs{
        display: none;
    }

    .kt-about{
        padding: 40px 16px;
    }

    .kt-app{
        padding: 40px 0 20px;
    }

    .app-info{
        padding: 0 16px;
    }

    .about-info,
    .app-info{
        margin-bottom: 40px;
    }

    .info-banner h6{
        font-size: 14px;
        padding: 28px 0;
    }

    .kt-clnt-reviews,
    .kt-reviews{
        padding: 40px 0;
    }

    .clnt-reviews{
        grid-template-columns: 1fr;
    }

}

/* Max Width 575px */
@media only screen and (max-width:575px){

    .sec-spacer, 
    .kt-choose-us{
        padding: 40px 0;
    }

    .banner-4{
        padding: 25px 0;
    }

    .banner-4 .banner-title {
        max-width: 300px;
        font-size: 20px;
        line-height: 30px;
    }

    .banner-4 p{
        max-width: 85%;
        font-size: 10px;
        line-height: 16px;
        margin: 12px auto 0;
    }

    .kt-about .sec-title,
    .app-info h2{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 16px;
    }

    .info-list li{
        font-size: 8px;
        line-height: 14px;
        margin-bottom: 16px;
    }

    .testi-slider-2 .slide-grp{
        flex-direction: column;
        gap: 8px;
    }

    .testi-2 .sec-title{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 28px;
    }

    .testi-2 .reviews-sum h4 {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 8px;
    }

    .testi-2 .ratings img{
        max-width: 14px;
        height: 14px;
    }

    .testi-slider-2 .single-slide .ratings img{
        max-width: 10px;
        height: 10px;
    }

    .testi-slider-2 .single-slide h5{
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 4px;
    }

    .testi-slider-2 .single-slide{
        border-radius: 9px;
        padding: 8px;
    }
    
    .testi-slider-2 .owl-carousel .owl-nav .owl-prev, 
    .testi-slider-2 .owl-carousel .owl-nav .owl-next{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }

    .testi-slider-2 .owl-nav span{
        font-size: 8px;
        line-height: 1;
    }

    .info-banner h6{
        font-size: 8px;
        line-height: 12px;
        padding: 16px 0;
    }

    .kt-clnt-reviews{
        padding-bottom: 0;
    }

    .kt-clnt-reviews .sec-title,
    .kt-reviews .sec-title {
        max-width: 100%;
        font: var(--font-weight-medium) 18px/24px var(--body-font);
        margin: 0 auto 30px;
    }

    .clnt-reviews{
        grid-gap: 16px;
        margin: 24px 0;
    }

    .ltr-content{
        padding-bottom: 0;
        border-bottom: 0;
    }

    .ltr-content h2{
        font: var(--font-weight-medium) 18px/26px var(--body-font);
        margin-bottom: 12px;
    }

    .kt-clnt-reviews .btn,
    .ltr-content .btn {
        width: 70px;
        height: 27px;
        font: var(--font-weight-bold) 10px/15px var(--body-font);
        border: 0;
        line-height: 27px;
    }

    .kt-partners p{
        font-size: 12px;
        line-height: 18px;
    }

    .partners {
        gap: 8px;
    }

    .partners img{
        max-width: 80px;
    }

    .footer-4{
        padding: 16px 0 32px;
    }

    .footer-4 p{
        font-size: 8px;
        line-height: 14px;
        margin-bottom: 16px;
        text-align: center;
    }

    .footer-4 .footer-bottom p{
        font-size: 10px;
        line-height: 14px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        padding-top: 16px;
    }
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){

}

/* Max Width 416px */

@media only screen and (max-width:416px){

    /* .footer-3 .footer-content p{
        font-size: 8px;
        line-height: 12px;
    }

    .footer-3 .social-links img{
        max-width: 12px;
    }

    .footer-3 .footer-widget h5{
        font-size: 8px;
        line-height: 12px;
    }

    .footer-3 .footer-menu li a{
        font-size: 8px;
        line-height: 10px;
    }

    .footer-bottom p{
        font-size: 8px;
        line-height: 12px;
    } */
}

/* Max Width 390px */

@media only screen and (max-width:390px){

    .container{
        max-width: 100% !important;
    }

}

/* Max Width 380px */

@media only screen and (max-width:380px){

    /* .footer-3 .footer-content p{
        max-width: 100px;
        font-size: 7px;
        line-height: 10px;
        margin: 6px 0;
    }

    .footer-3 .footer-menu li a{
        font-size: 7px;
        line-height: 9px;
        margin-bottom: 0px;
    } */

}

/* Max Width 320px */

@media only screen and (max-width:320px){

    .payments{
        gap: 6px 4px;
        margin-top: 8px;
    }

    .payments img{
        max-width: 16px;
    }
}