@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    /* Color */
    --title-color: #ffffff;
    --text-light: #93989A;
    --primary-color: #262242;
    --secondary-color: rgba(153, 156, 162, 0.1);
    --white-color: #ffffff;
    --black-color: #010102;

    /* Typography */
    --body-font: 'Inter', sans-serif;
    --title-font: 'Inter', sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    /* Others */
    --transition: 0.3s;
}

/* -----------------------------------
    General CSS
-------------------------------------*/
html,
body {
    font-size: 16px;
    color: var(--white-color);
    font-family: var(--body-font);
    vertical-align: baseline;
    line-height: 32px;
    font-weight: var(--font-weight-bold);
}

body{
    background-color: var(--black-color);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

[type="submit"] {
    cursor: pointer;
}

p {
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 16px;
    line-height: 30px;
    font-weight: var(--font-weight-normal);
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 0;
}

h1 {
    font-size: 88px;
    line-height: 100px;
}

h2 {
    font-size: 66px;
    line-height: 81px;
}

h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: 25px;
    line-height: 24px;
}

h5 {
    font-size: 32px;
    line-height: 38px;
}

h6 {
    font-size: 25px;
    line-height: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--white-color);
    text-decoration: none;
    transition: var(--transition);
    outline: none !important;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: #f36eae;
}

.fix {
    overflow: hidden;
}

.no-marg {
    margin: 0;
}

pre {
    display: block;
    margin: 0 0 30px;
    padding: 9px;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 13px;
    line-height: 1.42857143;
}

blockquote {
    padding: 25px 35px;
    background: #f5f5f5;
    margin: 30px 0 30px 30px;
    box-shadow: -5px 0 #232323;
}

::-moz-selection {
    background: var(--primary-color);
    text-shadow: none;
    color: #ffffff;
}

::selection {
    background: var(--primary-color);
    text-shadow: none;
    color: #ffffff;
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
    border: none;
}

.input-grp input[type="checkbox"]{
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFFFF;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
}

.input-grp input[type="checkbox"]:checked::before{
    position: absolute;
    content: "\f00c";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font: 600 14px 'Font Awesome 6 Free';
    color: var(--white-color);
    text-align: center;
    line-height: 20px;
}

textarea{
    overflow: hidden;
}

button{
    display: inline-block;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.color-text{
    background-image: linear-gradient(71.24deg, #982DEC -8.42%, #DC8DF8 39.7%, #A9C4F3 82.05%);
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: textanim 2s linear infinite; */
}

@keyframes textanim{
    100%{
        background-position: 200%;
    }
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pt-320 {
    padding-top: 320px !important;
}

.pb-170 {
    padding-bottom: 170px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-112 {
    padding-bottom: 112px !important;
}

.pr-60{
    padding-right: 60px;
}

.mt-minus-90 {
    margin-top: -90px;
}

.mb-minus-90 {
    margin-bottom: -90px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mt-100 {
    margin-top: 100px;
}

.scroll-mt-120{
    scroll-margin-top: 120px;
}

.opc-7{
    opacity: 0.71;
}

.bg-color{
    background-color: var(--primary-color);
}

/* -----------------------------------
    Global Design
-------------------------------------*/

.sec-spacer {
    padding: 130px 0;
}

.sec-spacer-90 {
    padding: 90px 0;
}

.sec-spacer-top {
    padding-top: 150px;
}

.sec-spacer-top-85 {
    padding-top: 85px;
}

.sec-spacer-top-95 {
    padding-top: 95px;
}

.sec-spacer-bottom-75 {
    padding-bottom: 75px;
}

.sec-spacer-bottom-80 {
    padding-bottom: 80px;
}

.sec-spacer-bottom {
    padding-bottom: 125px;
}

.sec-spacer-bottom-100 {
    padding-bottom: 100px;
}

.sec-spacer-bottom-120 {
    padding-bottom: 120px;
}

.sec-spacer-bottom-130 {
    padding-bottom: 130px;
}

.btn{
    display: inline-block;
    width: max-content;
    height: 46px;
    color: var(--white-color);
    border-radius: 85px;
    line-height: 46px;
    padding: 0;
}

.primary-btn{
    background-image: linear-gradient(71.24deg, #982DEC -8.42%, #DC8DF8 39.7%, #A9C4F3 82.05%);
    border: 0;
}

.btn:hover{
    color: var(--white-color);
    background-image: linear-gradient(71.24deg, #c1467d -8.42%, #c1467d 39.7%, #c1467d 82.05%);
}

.btn:hover img,
.btn:hover i{
    /* animation: aniArrow cubic-bezier(0, 0.6, 1, 0.4) reverse 0.5s; */
    animation: toRightFromLeft .6s linear forwards;
}

.btn:focus{
    box-shadow: none;
}

/* Header */

.kt-header{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: ease-in .1s;
    z-index: 10;
}

.kt-header.sticky{
    top: 0;
    background-color: var(--black-color);
    border-color:rgb(29, 29, 38);
}

.header-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.24);
    border-radius: 10px;
    padding: 12px 40px;
}

.kt-header.sticky .header-container{
    background-color: transparent;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-menu a{
    display: block;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 17px;
    text-transform: capitalize;
}

.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-right .btn{
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 0 24px;
}

.header-right .primary-btn{
    border: 0;
}

/* Lang Switcher */

.lang-switcher {
    position: relative;
}
  
.lang-switcher .flag {
    display: inline-block;
    vertical-align: baseline;
}
  
.lang-switcher .lang {
   font: var(--font-weight-medium) 14px/17px var(--body-font);
}

.lang-switcher .lang:hover {
    color: var(--white-color);
 }
  
.lang-switcher .lang-list {
    position: absolute;
    top: 90px;
    left: 0px;
    width: max-content;
    background-color: #1D1D26;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 0 0 12px 12px;
    padding: 6px 12px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
  
.lang-switcher .lang-list .single-lang {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}
  
.lang-switcher .lang-list .single-lang .lang-text {
    display: block;
    font: var(--font-weight-medium) 14px/17px var(--body-font);
    color: var(--white-color);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.lang-switcher .lang-list::before {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(66.16deg, #5B0EEA 0.12%, #EE4525 95.94%);
}
  
.lang-switcher .lang-list-open {
    opacity: 1;
    top: 52px;
    visibility: visible;
}

/* Banner */

.kt-banner{
    position: relative;
    padding: 180px 0 100px;
    z-index: 1;
}

.kt-banner::before{
    position: absolute;
    content: url("../images/shapes/banner-gradient.png");
    top: 0;
    left: 0;
    z-index: -1;
}

/* .kt-banner::after{
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0;
    width: 80%;
    height: 20%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0086472) 8.24%, rgba(0, 0, 0, 0.03551) 16.47%, rgba(0, 0, 0, 0.0816599) 24.71%, rgba(0, 0, 0, 0.147411) 32.94%, rgba(0, 0, 0, 0.231775) 41.18%, rgba(0, 0, 0, 0.331884) 49.41%, rgba(0, 0, 0, 0.442691) 57.65%, rgba(0, 0, 0, 0.557309) 65.88%, rgba(0, 0, 0, 0.668116) 74.12%, rgba(0, 0, 0, 0.768225) 82.35%, rgba(0, 0, 0, 0.852589) 90.59%, rgba(0, 0, 0, 0.91834) 98.82%, rgba(0, 0, 0, 0.96449) 107.06%, rgba(0, 0, 0, 0.991353) 115.29%, #000000 123.53%);;
} */

.banner-title{
    max-width: 647px;
}

.banner-list{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    grid-column-gap: 40px;
    margin: 40px 0;
}

.banner-list p{
    position: relative;
    font: var(--font-weight-medium) 16px/24px var(--body-font);
    margin-bottom: 16px;
    padding-left: 40px;
}

.banner-list p::before{
    position: absolute;
    content: url("../images/icons/tick-sm.svg");
    top: 0;
    left: 0;
}

.banner-content .btn{
    width: 260px;
    height: 64px;
    font: var(--font-weight-semi-bold) 18px/23px 'Plus Jakarta Sans', sans-serif;
    color: #1A1A1A;
    background-color: var(--white-color);
    line-height: 64px;
    transition: .1s all ease-in;
}

.banner-content .btn:hover{
    color: var(--white-color);
}

.banner-imgs{
    animation: float-bob-x 3s linear infinite;
}

.banner-imgs .img-1{
    margin-top: 140px;
}

.banner-imgs .chart-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-imgs .img-2{
    position: absolute;
    top: -140px;
    right: -8%;
    z-index: -1;
}

.kt-banner .curve-1,
.kt-banner .curve-2{
    position: absolute;
    transform: scale(0);
    z-index: -1;
}

.kt-banner .curve-1{
    width: 60%;
    bottom: -150px;
    left: 0;
    animation: scaleLeft .8s linear forwards .5s;
}

.kt-banner .curve-2{
    bottom: 25px;
    right: 0;
    width: 15%;
    animation: scaleRight .8s linear forwards .5s;
}

/* Key Difference */

.kt-differ .sec-title{
    font: var(--font-weight-medium) 58px/69px var(--body-font);
    letter-spacing: 0.005em;
    margin-bottom: 50px;
}

.differ-cards .single-card{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 16px;
    background-color: rgba(17, 13, 35, 0.24);
    border-radius: 24px;
    backdrop-filter: blur(20px);
    padding: 24px;
}

.differ-cards .single-card p{
    font: var(--font-weight-medium) 14px/24px var(--body-font);
    color: rgba(255, 255, 255, 0.64);
    margin-top: 16px;
}

.connector-wpr{
    position: relative;
    text-align: center;
}

.connector{
    position: relative;
    display: inline-block;
    width: 127px;
    height: 175px;
    background-image: linear-gradient(180deg, #FF73B6 0%, #D683F7 100%);
    border-radius: 19px;
    text-align: center;
    line-height: 175px;
    z-index: 10;
}

.connector-wpr::before{
    position: absolute;
    content: url("../images/shapes/connt-left.png");
    top: -60%;
    left: 20%;
    z-index: -1;
}

.connector-wpr::after{
    position: absolute;
    content: url("../images/shapes/connt-right.png");
    top: -60%;
    right: 20%;
    z-index: -1;
}

.point-icon{
    display: none;
}

/* Account Type Table */

.accoutns-tab-wpr .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-links{
    background-color:  #1D1D26;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 4px;
    padding: 14px;
}

.tab-links .nav-link{
    display: inline-block;
    font: var(--font-weight-semi-bold) 24px/34px var(--body-font);
    color: rgba(255, 255, 255, 0.72);
    background-image: none;
    border-radius: 4px;
    margin-bottom: 0;
    padding: 12px 24px;
}

.tab-links .nav-link.active{
    color: var(--white-color);
    background-image: linear-gradient(79.4deg, #5B0EEA -20.36%, #EE4525 116.27%);
}

.accounts-content{
    background-image: linear-gradient(52.09deg, rgba(152, 45, 236, 0.08) -11.18%, rgba(220, 141, 248, 0.08) 58.92%, rgba(169, 196, 243, 0.08) 98.44%);
    border-radius: 12px;
    padding: 64px 32px;
    margin-top: 60px;
}

table.kt-table th{
    min-width: max-content;
    font: var(--font-weight-semi-bold) 24px/34px var(--body-font);
    color: var(--white-color);
    white-space: nowrap;
    border: 0;
    padding: 0 16px 8px;
}

table.kt-table tr:nth-child(even){
    background-color: rgba(28, 24, 36, 0.8);
}

table.kt-table td{
    font: var(--font-weight-medium) 24px/34px var(--body-font);
    color: var(--white-color);
    border: 0;
    padding: 24px 16px;
    vertical-align: middle;
}

td .acc-name{
    display: inline-block;
    font-weight: var(--font-weight-semi-bold);
    margin-right: 16px;
}

.td-btn{
    display: inline-block;
    color: #00DAFF;
    background: rgba(0, 218, 255, 0.04);
    border: 1px solid rgba(0, 218, 255, 0.06);
    border-radius: 100px;
    padding: 8px 16px;
}

.td-btn.null{
    color: #F70006;
    background: rgba(246, 0, 6, 0.04);
    border: 1px solid rgba(246, 0, 6, 0.06);
}

tr:nth-child(even) td:first-child{
    border-radius: 16px 0 0 16px;
}

tr:nth-child(even) td:last-child{
    border-radius: 0 16px 16px 0;
}

td .info img{
    cursor: pointer;
}

td .info-text{
    position: absolute;
    top: 8px;
    left: 28px;
    width: 130px;
    font: var(--font-weight-medium) 8px/12px var(--body-font);
    background-color: #363043;
    border-radius: 6px;
    padding: 14px 6px 28px 12px;
    z-index: 10;
    transform: translateY(32px);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
}

td .info-text.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.kt-table::-webkit-scrollbar{
    height: 3px;
}

.kt-table::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

.kt-table::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.accounts-content .btn{
    height: 54px;
    line-height: 54px;
    padding: 0 28px;
    margin-top: 50px;
}

/* Trading Start Info */

.info-list{
    margin: 40px 0 50px;
}

.info-list li{
    position: relative;
    font: var(--font-weight-medium) 22px/33px var(--body-font);
    padding-left: 48px;
    margin-bottom: 20px;
}

.info-list li:last-child{
    margin-bottom: 0;
}

.info-list li::before{
    position: absolute;
    content: url("../images/icons/tick.svg");
    top: 0;
    left: 0;
}

.info-btns .btn{
    height: 73px;
    font: var(--font-weight-semi-bold) 18px/22px var(--body-font);
    border-radius: 118px;
    padding: 0 48px;
    line-height: 73px;
}

.info-btns .color-btn{
    background-color: #0D0916;
    border: 1px solid transparent;
    margin-left: 24px;
}

.info-btns .color-btn:hover{
    background-image: linear-gradient(71.24deg, var(--black-color) -8.42%, var(--black-color) 39.7%, var(--black-color) 82.05%);
    border-color: rgba(255, 255, 255, 0.08);
}

.info-btns .color-btn span{
    background-image: linear-gradient(82.82deg, #5B0EEA -22.61%, #EE4525 74.64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.info-btns .btn img{
    margin-left: 12px;
}

.trade-image .img-sm{
    position: absolute;
    top: 50%;
    left: -22%;
    transform: translate(20%, -50%);
    animation: float-bob-y 3s linear infinite;
}

/* Trade Scaling */

.kt-scale{
    position: relative;
    padding-top: 140px;
    z-index: 1;
}

.kt-scale::after{
    position: absolute;
    content: "";
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 140%;
    background: url("../images/banner/scale.png") no-repeat left center;
    background-size: 100% 100%;
    z-index: -1;
}

.kt-scale .sec-title{
    font: var(--font-weight-semi-bold) 68px/85px 'Manrope', sans-serif;
    background: linear-gradient(167.61deg, #FFFFFF -15.5%, rgba(255, 255, 255, 0) 225.73%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.kt-scale .sec-des{
    max-width: 650px;
    font: var(--font-weight-medium) 20px/30px var(--body-font);
    color: rgba(255, 255, 255, 0.72);
    margin: 0 auto;
}

.scale-features{
    padding: 0 40px 0 70px;
    margin-top: 80px;
}

.features-wpr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.wpr-2{
    margin-top: 40px;
}

.wpr-3{
    margin-top: 20px;
}

.single-feature{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(52.09deg, rgba(152, 45, 236, 0.08) -11.18%, rgba(220, 141, 248, 0.08) 58.92%, rgba(169, 196, 243, 0.08) 98.44%);
    border-radius: 100px;
    padding: 16px 32px;
    z-index: 1;
}

.single-feature:not(:last-of-type)::after{
    position: absolute;
    content: url("../images/shapes/line.png");
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    z-index: -1;
}

.wpr-1 .single-feature:last-of-type::after{
    position: absolute;
    content: url("../images/shapes/line-connet.png");
    right: -60%;
    z-index: -1;
}

.wpr-2 .single-feature::before{
    position: absolute;
    content: url("../images/shapes/line-ver.png");
    top: -80px;
    left: 40px;
    z-index: -1;
}

.wpr-2 .single-feature::after{
    position: absolute;
    content: url("../images/shapes/sqr-connet.png");
    bottom: -80px;
    right: 40px;
    z-index: -1;
}

.wpr-3 .single-feature::after{
    content: url("../images/shapes/line-rev.png");
    z-index: -1;
}

.wpr-3 .single-feature:last-of-type:after{
    content: "";
}

.wpr-3 .single-feature:first-of-type::before{
    position: absolute;
    content: url("../images/shapes/line-ver-rev.png");
    top: 100%;
}

.single-feature.circle{
    width: 79px;
    height: 79px;
    background-image: linear-gradient(180deg, #D582F5 0%, #76E6F5 100%, #76E6F5 100%);
    border-radius: 50%;
    padding: 0;
}

.circle-2{
    background-image: linear-gradient(180deg, #F86BDF 0%, #6B6BF8 100%) !important;
}

.single-feature .icon{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(52.09deg, #982DEC -11.18%, #DC8DF8 58.92%, #A9C4F3 98.44%);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 24px;
}

.single-feature h3{
    font: var(--font-weight-semi-bold) 32px/34px var(--body-font);
}

.single-feature p{
    font: var(--font-weight-medium) 16px/24px var(--body-font);
}

.single-feature b{
    font: var(--font-weight-semi-bold) 20px/32px var(--body-font);
}

.single-feature.circle p{
    font: var(--font-weight-medium) 12px/15px var(--body-font);
}

.prime-features{
    background-image: linear-gradient(52.09deg, #982DEC -11.18%, #DC8DF8 58.92%, #A9C4F3 98.44%);
    border-radius: 9px;
    padding: 24px 32px;
    margin: 120px 20px 60px 60px;
}

.prime-features h3{
    font: var(--font-weight-semi-bold) 44px/54px var(--body-font);
    margin-bottom: 24px;
}

.prime-features p{
    font: var(--font-weight-medium) 16px/24px var(--body-font);
    color: rgba(255, 255, 255, 0.72);
}

.prime-features .feature-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 16px 80px;
}

.prime-features li{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    font: var(--font-weight-normal) 18px/28px var(--body-font);
}

/* Footer */

.footer-wpr{
    background-color: #1D1D26;
    border-radius: 32px;
    padding: 32px 50px;
    margin: 85px 0 65px;
}

.footer-wpr .logo{
    max-width: 247px;
}

.footer-social-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 40px 0;
}

.footer-social-links a{
    width: 64px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-image-slice: 1;
    border-radius: 24px;
}

.footer-social-links a:first-child{
    background-image: linear-gradient(96.34deg, rgba(91, 14, 234, 0.04) 17.96%, rgba(238, 69, 37, 0.04) 49.71%);
    /* border-image-source: linear-gradient(to right, #5B0EEA 12%, #EE4525 50%); */
}

.footer-social-links a:nth-child(2){
    background-color: rgba(88, 101, 242, 0.04);
    border-color: rgba(88, 101, 242, 0.12);
}

.footer-social-links a:last-child{
    background-color: rgba(35, 160, 221, 0.04);
    border-color: rgba(88, 101, 242, 0.12);
}

.footer-content p{
    max-width: 468px;
    font: var(--font-weight-medium) 24px/34px var(--body-font);
    color: rgba(255, 255, 255, 0.72);
}

.footer-content p a{
    color: rgba(255, 255, 255, 1);
}

.footer-widget h5{
    font: var(--font-weight-medium) 24px/34px var(--body-font);
    margin-bottom: 40px;
}

.footer-widget .line{
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    margin-left: 10px;
}

.footer-menu li a{
    display: inline-block;
    font: var(--font-weight-medium) 20px/30px var(--body-font);
    color: rgba(255, 255, 255, 0.72);
    margin-bottom: 20px;
}

.footer-menu li:last-child a{
    margin-bottom: 0;
}

.payments{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.footer-input{
    position: relative;
    margin-top: 50px;
}

.footer-input input{
    width: 100%;
    height: 56px;
    background-color: var(--black-color);
    border-radius: 24px;
    padding-left: 16px;
    line-height: 56px;
}

.footer-input button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(84.7deg, #5B0EEA 29.61%, #EE4525 105.15%);
    border-radius: 12px;
    line-height: 40px;
}

.f-line{
    position: relative;
}

.f-line::before{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
}

/* #Progress
================================================== */

.progress-wrap {
	position: fixed;
	right: 40px;
	bottom: 25px;
	height: 45px;
	width: 45px;
	cursor: pointer;
	display: block;
    background-image: linear-gradient(82.82deg, #5B0EEA -22.61%, #EE4525 74.64%);
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	content: '\f062';
    font-family: 'Font Awesome 6 Free';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--white-color);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
	opacity: 0;
}

.progress-wrap::before {
	position: absolute;
	content: '\f062';
    font-family: 'Font Awesome 6 Free';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--white-color), var(--white-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: var(--white-color);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

@keyframes float-bob-x {
    0% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    50% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
}

@keyframes float-bob-y {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

@keyframes aniArrow {
    0% {
      transform:translateX(0);
    }
    50%{
        transform:translateX(45px);
    }
    100% {
      transform:translateX(0);
    }
}

@keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes scaleLeft {
    0% {
        transform: scale(0);
        transform-origin: 0%;
    }
    50%{
        transform: scale(.5);
        transform-origin: 0%;
    }
    100% {
        transform: scale(1);
        transform-origin: 0%;
    }
}

@keyframes scaleRight {
    0% {
        transform: scale(0);
        transform-origin: 100%;
    }
    50%{
        transform: scale(.5);
        transform-origin: 100%;
    }
    100% {
        transform: scale(1);
        transform-origin: 100%;
    }
}
